
body{
  color: #4c5667;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

h1,h2,h3,h4{ font-weight: normal; }

h3 {
  padding-top: 10px;
}

h4 {
  padding-top: 15px;
}

.alert h4 {
  padding-top: 0px;
}

::selection{
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}
::-moz-selection {
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}


a:hover,a:focus,.a:active {
  text-decoration: none;
  outline: none !important;
}

.navbar.navbar-transparent {
  background-color: transparent;
}

/*.navbar.navbar-themed {
  border: none;
}
.navbar.navbar-themed a,
.navbar.navbar-themed button {
  color: #ccc !important;
  padding: 20px 15px;
}
.navbar.navbar-themed a:hover,
.navbar.navbar-themed button:hover {
  background-color: transparent;
  color: white !important;
}*/

.nav-tabs>li>a {
  color: #4c5667;
}

.nav-tabs>li>a:hover {
  color: #ffffff;
}

.container-fluid {
  max-width: 1200px;
}


section, footer {
  padding: 50px 0;
}


header {
  /*background-image: url("../img/header.jpg");
        background-size: cover;
        background-position: 50% 60%;*/
  /*background-color: #29D9C2;*/
  background: -webkit-linear-gradient(#444F5C, #334159);
  background: -moz-linear-gradient(#444F5C, #334159);
  background: -ms-linear-gradient(#444F5C, #334159);
  background: -o-linear-gradient(#444F5C, #334159);
  background: linear-gradient(#444F5C, #334159);
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

header h1 {
  font-size: 400%;
}


section.alternate, footer {
  background-color: #eef2f5;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  /*color: #4c5667;*/
}
section.alternate p, footer p {
  color: #97a0af;
}
section.alternate p.lead {
  color: #97a0af;
}

footer {
}

p.lead {
  font-size: 16px;
  margin-bottom: 30px;
}
h2:first-child {
  margin-top: 0;
}
.feature-item i {
  float: left;
  font-size: 28px;
  line-height: 36px;
  width: 30px;
  padding-top: 8px;
}
pre[class*='language-'] > code[data-language] {
  overflow: auto;
}

.carousel-indicators li {  
  border: 1px solid #4c5667;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #4c5667;
}